body {
  font-family: 'Covered By Your Grace', cursive;
  background-color: mediumslateblue;
}
.hover:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.none {
  display: none;
}
#console {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: radial-gradient(circle at center, rgb(230, 124, 236), rgb(0, 255, 255), rgb(29, 78, 255) 100%);
  width: 540px;
  height: 600px;
  border-style: solid;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border-color: rgb(10, 155, 255);
}
h1 {
  font-size: 40px;
  color: rgb(9, 27, 27);
  text-shadow: -1px -1px 0px rgb(17, 113, 108, 0.73), -1px -1px 0px rgba(31, 197, 200, 0.8);
}
#screen {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 300px;
  background-color: white;
  border: 2mm ridge rgba(8, 119, 123, 0.559);
  border-radius: 10%;
  padding: 15px;
}
#foodicon {
  height: 50px;
  width: 40px;
}
#playicon {
  height: 40px;
  width: 50px;
}
#resticon {
  height: 50px;
  width: 40px;
}
#deathtext {
  font-family: 'Press Start 2P', cursive;
  padding: 0px 0px 4px 0px;
}
.egg {
  margin: auto;
  width: 50%;
  height: 50px;
  width: 50px;
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.creature {
  margin: auto;
  height: 65px;
  width: 65px;
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.deathicon {
  margin: auto;
  width: 50px;
  height: 60px;
  animation-duration: 2s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#deathtext {
  justify-content: center;
}
@keyframes bounce {
  from {
    margin-top: 10%;
    height: 70px;
  }
  to {
    margin-bottom: 10%;
    width: 70px;
  }
}
@keyframes slide {
  from {
    margin-left: 65%;
  }
  to {
    margin-right: 65%;
  }
}
@keyframes fade {
  0%   {opacity:1}
  25%  {opacity: 0.5}
  50%  {opacity:0}
  75%  {opacity: 0.5}
  100% {opacity:1}
}
.screensides {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#topscreen-start {
  font-family: 'Press Start 2P', cursive;
}
#starttext {
  padding: 0px 0px 4px 0px;
} 
#bottomscreen-start {
  font-family: 'Press Start 2P', cursive;
}
#name {
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  padding: 2px;
}
.submitname {
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: white;
  padding: 2px;
}
.icons {
  font-size: 7px;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
  border-radius: 20%;
  height: 50px;
  width: 60px;
}
p {
  text-align: center;
}
.buttontext {
  text-shadow: -1px -1px 0px rgb(17, 113, 108, 0.73), -1px -1px 0px rgba(31, 197, 200, 0.8);
}
#buttoncontainer {
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
#playcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#play {
  background-color: magenta;
  height: 50px;
  width: 50px;
  border: 4mm ridge magenta;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}
#play:active {
  box-shadow: inset 0px 0px 5px #000000;
}
#feedcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}
#feed {
  background-color: rgb(51, 213, 78);
  height: 50px;
  width: 50px;
  border: 4mm ridge rgb(51, 213, 78);
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}
#feed:active {
  box-shadow: inset 0px 0px 5px #000000;
}
#restcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rest {
  background-color: rgb(68, 0, 255);
  height: 50px;
  width: 50px;
  border: 4mm ridge rgb(68, 0, 255);
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}
#rest:active {
  box-shadow: inset 0px 0px 5px #000000;
}
